---
import { Image } from 'astro:assets'

import { getCollection } from "astro:content";
import Project from "@/components/project/Project.astro";
import ProjectCard from '@/components/project/ProjectCard.astro';
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";
import type { GetStaticPaths } from "astro";
import PageHeading from "@/components/PageHeading.astro";
import data from "../../data/projects.json";

interface Project {
  name: string;
  description: string;
  stars: number;
  role: "author" | "contributor" | "maintainer";
  url: string;
  tags: string[];
  website: string | null
}

const projects = data as Project[];

projects.sort((a, b) => {
  if (a.role === "maintainer" && b.role !== "maintainer") {
    return -1;
  }
  if (a.role === "maintainer" && b.role === "maintainer") {
    return a.stars > b.stars ? -1 : 1;
  }
  if (a.role === "author" && b.role === "author") {
    return a.stars > b.stars ? -1 : 1;
  }
  if (a.role === "author" && b.role !== "author") {
    return -1;
  }
  return 0;
});

export const getStaticPaths = (async ({ paginate }) => {
	const MAX_PROJECTS_PER_PAGE = 5;
	const allProjects = await getCollection("project");
	return paginate(allProjects.sort(collectionDateSort), { pageSize: MAX_PROJECTS_PER_PAGE });
}) satisfies GetStaticPaths;

const meta = {
	description: "View my collection of projects",
	title: "Projects",
};
---

<PageLayout meta={meta}>
	<section>
		<PageHeading
      		title="My Projects"
      		description="Here are some of the projects I’m currently working on. I love bringing new ideas to life and creating innovative projects. I’m constantly exploring and building something fresh, so be sure to check back for updates!"
    	/>
		<h2
		  class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
		>
		Github Activities:
		</h2>
		<p>
		  <Image
			src='https://ghchart.rshah.org/d8aa96/rodgim'
			alt='github activities'
			inferSize
			loading='lazy'
		  />
		</p>
		<h2
		  class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
		>
		Open Source:
		</h2>
		<div>
			<ul class="grid grid-cols-1 gap-8">
				{
					projects.map((project) => (
					  <ProjectCard
						name={project.name}
						description={project.description}
						stars={project.stars}
						role={project.role}
						url={project.url}
						tags={project.tags}
						website={project.website || ""}
					  />
					))
				  }
			</ul>
		</div>

	</section>
</PageLayout>
